<h3>Multiplication Questions: ( with answers )</h3>

<a href="timestables\1.html">The one's</a>

<br>

<a href="timestables\2.html">The seconds</a>

<br>

<a href="timestables\3.html">The theird</a>

<br>

<a href="timestables\4.html">The fourth</a>

<br>

<a href="timestables\5.html">The fith</a>

<br>

<a href="timestables\6.html">The sixth</a>

<br>

<a href="timestables\7.html">The sevens</a>

<br>

<a href="timestables\8.html">The eights</a>

<br>

<a href="timestables\9.html">The ninths</a>

<br>

<a href="timestables\10.html">The tens</a>

<br>

<a href="timestables\11.html">The elevens</a>

<br>

<a href="timestables\12.html">The twelves</a>

<br>

<a href="timestables\rand.html">All of them</a>

<br>

<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>