<h3>Question Generator With Hiiden Numbers</h3>

<head>
  <link href="templates\hidden_question_numbers\stylehiddennums.css" rel="stylesheet" type="text/css" />
</head>

<a href=".\hidden_question_numbers\num1.html">Number 1 Hidden</a>

<br>

<a href=".\hidden_question_numbers\oper.html">Operator Hidden</a>

<br>

<a href=".\hidden_question_numbers\num2.html">Number 2 Hidden</a>

<br>

<a href=".\hidden_question_numbers\random.html">Random</a>

<br>

<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>